
.header{
padding-right: 80px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #ffff;
border:0.1px solid black
}

.nav-items{
display: flex;
justify-content: center;
gap:20px;
}

.logo{
    width:100px;
    height:auto
}

ul{
    list-style: none;
}

.btn{
    padding: 2px;
    width:60px;
    align-content: center;
}