.card{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding:5px;
    
}

.card > img{
    width: 100%;
    object-fit: cover;
    height:150px;
}

.rating{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.card_heading{
    margin-block: 5px;
    text-align: center;
}

.card_content{
    margin-top: 10px;
    padding-top: 10px;
}

.card_content>p{
    padding-block: 10px;
    font-weight:300;
}