.body{
    margin-top: 20px;
    padding:0px 10px;
}
.search-bar{
  display:flex;
  gap:5px;
  justify-content: center;
}

.search-input{
    width:250px;
    outline: none;
    padding:8px 8px;
    border:solid 1px;
    border-radius: 5px;
}

.search-bar>button{
    display: inline;
    width:60px;
}

.res-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-content: stretch;
    grid-gap: 5px;
}

.filter-btn{
width: 60px;
}